LAYOUT HEADER:
<style>
 .ly-910465_bg {background: url(https://bin.smwcentral.net/u/74890/Mametchi_comp.png) bottom right no-repeat, hsl(173, 30%, 13%) url(https://bin.smwcentral.net/u/74890/LayoutBG.png) top left repeat; padding: 20px; font-family: inherit; color: hsl(182, 95%, 83%); text-shadow: 1px 1px 4px hsl(0, 1%, 7%); min-height: 100px;}
 .ly-910465_post {background: hsla(186, 73%, 89%, 0.5); border: 2px groove #FFFFFF; border-radius: 0; padding: 7px; box-shadow: 2px 2px 1px hsl(54, 84%, 62%); margin-right: 200px;}
 .ly-910465_post a {color: hsl(183, 76%, 75%); font-weight: normal; text-shadow: inherit;} .ly-910465_post a:hover {color: hsl(183, 76%, 85%);}
 .ly-910465_post .quote .box {background: rgba(0, 0, 0, 0.4); border: 1px solid #FFFFFF; border-radius: 0; padding: 5px; box-shadow: 0 0 0 #000000;}
 .ly-910465_post .quote a {color: hsl(183, 76%, 65%);} .ly-910465_post .quote a:hover {color: hsl(183, 76%, 75%);}
 .ly-910465_post .code .box {background: rgba(0, 0, 0, 0.4); border: 1px solid #FFFFFF; border-radius: 0; padding: 5px; box-shadow: 0 0 0 #000000; color: inherit; white-space: pre-wrap;}
 .ly-910465_post .spoiler {background: #000000 !important; border: 1px solid #FFFFFF !important; border-radius: 2px;}
 .ly-910465_post .code .boxhead {color:  inherit;} .ly-910465_post .code br {display: none;}
 .ly-910465_post hr {border: 0; height: 1px; background: #FFFFFF;} /* Layout Maker XP 2 */
</style><div class="ly-910465_bg"><div class="ly-910465_post">

LAYOUT FOOTER:
</div><div class="ly-910465_post" style="margin-top: 20px;">SIGNATURE TEXT HERE.</div></div>
